<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="jIAnSoft">
      <section name="framework" type="jIAnSoft.Brook.Configuration.Section, Brook" />
    </sectionGroup>
  </configSections>
  <jIAnSoft>
    <framework>
      <common name="BrookDemo" culture="zh-TW" timezone="Tokyo Standard Time" />
      <database>
        <add name="mssql" connection="server=192.168.1.168,1433;uid=pi;pwd=1qaz@WSX;database=test;Connection Timeout=5;" providerName="System.Data.SqlClient" commandTimeout="5"/>
        <add name="mysql" connection="server=192.168.1.168;port=3306;uid=pi;pwd=1qaz@WSX;database=test;SslMode=None;charset=utf8;" providerName="MySql.Data.MySqlClient" commandTimeout="5"/>
        <add name="posql" connection="server=192.168.1.168;port=5432;User Id=pi;Password=1qaz@WSX;database=test;" providerName="Npgsql" commandTimeout="5" />
        <add name="sqlite" connection="data source=.\\brook.sqlite" providerName="System.Data.SQLite" commandTimeout="5" />
        <add name="sqlserver" connection="server=192.168.1.168,1433;uid=pi;pwd=1qaz@WSX;database=test;Connection Timeout=5;" providerName="Microsoft.Data.SqlClient" commandTimeout="5"/>
      </database>
    </framework>
  </jIAnSoft>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="Microsoft.Data.SqlClient" />
      <add name="Microsoft SqlClient Data Provider" invariant="Microsoft.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="Microsoft.Data.SqlClient.SqlClientFactory, Microsoft.Data.SqlClient" />
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
